<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oops!</title>
<style>
    body{
        text-align: center;
        padding-top: 100px;
    }
</style>
</head>
<body>
<pre>The 2nd number is greater than the 1st number so cant perform the division,But i can still perform the calculations for you.
</Pre>
<p>
    The first number is {{n1}}
</p>

<p>
    The second number is {{n2}}
</p>

<p>Addition is: {{addition}}</p>
<p>Subtraction is: {{subtraction}}</p>
<p>Multiplication is: {{product}}</p>
</body>
</html>